*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: monospace;
}

p {
    font-size: 18px;
    margin: 12px;
    transition: .3s;
}

.quote {
    width: fit-content;
    height: fit-content;
    position: relative;

}

.quoteContainer {
    width: 800px;
    min-height: 400px;
    box-shadow: -1px 5px 18px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    font-size: 30px;
    padding: 2rem;
    background: no-repeat center center / 100% 100%;
    background-color: #eee;
}

span {
    padding: 0 1px;
}

#writePlace {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    color: transparent;
}

.author, .category {
    font-size: 30px;
    padding: 0;
    position: absolute;
    top: calc(100% + 20px);
}

.author {
    left: 0;
}

.category {
    right: 10px;
    text-transform: capitalize;
}

@keyframes blink {
    0% {
        background-color: yellow;
    }

    100% {
        background-color: transparent;
    }
}

.focus {
    animation: blink 0.5s infinite alternate ease;
}

.correct {
    background-color: rgb(64, 209, 64);
}

.false {
    background-color: red;
}

.endModal {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 0 20px 3px white;
    text-shadow: 0 0 20px black;
    font-size: 30px;
    color: white;
    background-color: red;
    z-index: 99;
}

.closeModal {
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.5s;
    cursor: pointer;
}

.closeModal:hover {
    transform: scale(1.2);
}

.closeModal:active {
    transform: scale(0.9);
    transition: .1s;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    display: none;
}

.hidden {
    opacity: 0;
}

/* Dark Mode */
.dark-mode-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.dark-mode-btn.turn-on {
    background-color: #eee;
    color: black;
}

.dark-mode {
    background-color: black;
    color: #bbb;
}

.dark-mode .quoteContainer {
    background-color: #333;
}
