:root {
    --correct-green: rgb(64, 209, 64);
}

@keyframes block-blink {
    0% {
        border: 2px solid black;
    }

    100% {
        border: 2px solid transparent;
    }
}

@keyframes line-blink {
    0% {
        border-color: white;
    }

    100% {
        border-color: transparent;
    }
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background-color: transparent;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: monospace;
}

p {
    font-size: 18px;
    margin: 12px;
    transition: 0.3s;
}

.quote {
    width: fit-content;
    height: fit-content;
    position: relative;
}

.quoteContainer {
    width: 800px;
    min-height: 400px;
    box-shadow: 15px 20px 18px rgba(0, 0, 0, 0.5),
                inset -5px -10px 18px rgba(0, 0, 0, 0.3),
                inset 10px 7px 20px rgba(255,255,255, .8);
    border-radius: 15px;
    font-size: 30px;
    padding: 2rem;
    background: no-repeat center center / 100% 100%;
    background-color: #ddd;
}

span {
    padding: 0 1px;
}

#writePlace {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    color: transparent;
}

.author,
.category {
    font-size: 30px;
    padding: 0;
    position: absolute;
    top: calc(100% + 50px);
}

.author {
    left: 0;
}

.category {
    right: 10px;
    text-transform: capitalize;
}

.focus {
    animation: block-blink 0.5s infinite alternate ease;
}

.correct {
    background-color: var(--correct-green);
}

.false {
    background-color: red;
}

.endModal {
    width: 500px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 0 20px 3px white;
    text-shadow: 0 0 20px black;
    font-size: 30px;
    border-radius: 2rem;
    color: white;
    background-color: red;
    z-index: 99;
}

.closeModal {
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.5s;
    cursor: pointer;
}

.closeModal:hover {
    transform: scale(1.2);
}

.closeModal:active {
    transform: scale(1);
    transition: 0.1s;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    display: none;
}

.hidden {
    opacity: 0;
}

/* Dark Mode */
.dark-mode-btn {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -13px;
    left: 10px;
    cursor: pointer;
    transform: rotateZ(180deg);
    background: url("./../icon/light-on.png") no-repeat center center / cover;
    transition: 0.3s;
}

.dark-mode-btn:hover {
    transform: rotatez(180deg) scale(1.2);
}

.dark-mode-btn:active {
    transform: rotatez(180deg) scale(1);
}

.dark-mode-btn.turn-on {
    background-image: url("./../icon/light-off.png");
}

.dark-mode {
    background-color: black;
    color: #bbb;
}

.dark-mode .quoteContainer {
    background-color: #333;
    box-shadow: none;
}

.dark-mode .focus {
    border-bottom: 5px solid transparent;
    animation: line-blink 0.5s infinite alternate ease;
}

.dark-mode .correct, .dark-mode .false {
    background-color: transparent;
}

.dark-mode .correct {
    color: var(--correct-green);
}

.dark-mode .false {
    color: red;
    border-bottom: 3px solid red;
}

.dark-mode .endModal {
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.7);
}

.dark-mode .overlay {
    background-color: rgba(200, 200, 200, 0.2);
}